<<<<<<< HEAD
/**
 * Created by tyy on 1/23/15.
 */

#main-container {
    position: relative;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(30, 30, 30, 0.9);
}

#header ul li{
    display: inline-block;
    color: #fff;

}

body{
	font-size: 10%;
}

h1{
	font-size: 10em;
	display: inline;
}
h2{
	font-size: 14em;
	font-style: inherit;
	font-family: inherit;
	
}
p{
	font-size: 14em;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

section {
	display: block;
}


html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body,
button,
input,
select,
textarea {
	color: #2b2b2b;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

body {
	background: #f5f5f5;
}

a {
	color: #24890d;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a:active,
a:hover {
	color: #41a62a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 36px 0 12px;
}

h1 {
	font-size: 26px;
	line-height: 1.3846153846;
}

h2 {
	font-size: 24px;
	line-height: 1;
}

>>>>>>> ea2234b06bdf48e88b51d4594a336c21b2c56b3f
