<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Make a Complaint</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='new/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='new/css/clean-blog.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="{{url_for('static',filename='new/js/gmaps.js')}}"></script>


    <style type="text/css">
        #map {
            width: 100%;
            height: 400px;
        }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">ReportIt</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="# ">My neighborhood</a>
                    </li>
                    <li>
                        <a href="complaint.html">Submit a Complaint</a>
                    </li>
                    <li>
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ url_for('static', filename='new/img/about-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Make a Complaint</h1>
                        <hr class="small">
                        <span class="subheading">Let your voice be heard</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
<form method="post" action="{{ url_for('submit') }}">
      <section>
        <div class="container" align="center">
            <h2>Where is it?</h2>
            <div class="form-group">
                <input type="city" name="city" placeholder="City"><br>
                <input type="country" name="country" placeholder="Country"><br>
            </div>

            <h3>Right-click the location of the issue on the map</h3>
            <div id ="map"></div>






            <script>
    var map;

    var map = new GMaps({
      el: '#map',
      lat: 31.9333,
      lng: 35.9333,
      disableDefaultUI: true,
      zoom: 8
    });


    {#% if auto %#}

    GMaps.geolocate({
        success: function(position){
          var x = position.coords.latitude;
          var y = position.coords.longitude;
          map.setCenter(x, y);
          map.setZoom(10)
        },
        error: function(error){
          alert('Geolocation failed: '+error.message);
        },
        always: function(){
          // pass
        }
      });

    {#% endif %#}




    GMaps.on('rightclick', map.map, function(event) {
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();


            var template = '<a href="{{ url_for("submit") }}?lat=' + lat+'&lon='+lng+'">Submit a complaint!</a>';


            // var content = template.replace(/{{lat}}/g, lat).replace(/{{lng}}/g, lng);

            console.log(template);
            map.addMarker({
              lat: lat,
              lng: lng,
              title: 'Potential Submission',
              infoWindow: {
                content : template
              }            
            });

            //  set hidden values
            document.getElementById("lat").value = lat;
            document.getElementById("lon").value = lng;



    });



  </script>








        </div>
      </section>
    
      <section>
        <div class="container" align="center">
            <h3>Get help with:</h3>
            
            <div class="btn-group">
                <div class="dropdown" text-align:center align="center">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">ReportIt
                  <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Your Home</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Noise</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vehicles and Parking</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Transportation</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Streets and Sidewalks</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Public Health/Safety</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Disaster Relief</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                    </ul>
                </div>
            </div>

            <h3>Specifically:</h3>
       
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">Select one...
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SOMETHING</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SOMETHING</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SOMETHING</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SOMETHING</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SOMETHING</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SOMETHING</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SOMETHING</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SOMETHING</a></li>
                    </ul><br>
                </div>
            </div>
        </div> 
      </section>
    
      <section>
        <div class="container" align="center">
            <h3>Tell us about it</h3>
            <div class="form-group">
                <textarea rows="7" name="description" placeholder="Description of problem"></textarea>
            </div>
        </div> 
      </section>    
    
      <section>
        <div class="container" align="center">
            <h3>Upload a picture (optional)</h3>
            <div class="form-group" align="center">

               <p class="help-block" align="center">Pictures allow problems to be identified and fixed quicker. Upload a picture from your computer or include the URL.</p>
                <input type="file" id="uploadPicture"> <br>
                <label for="picURL">Or enter picture URL</label>
                <input type="URL" name="pic_url" placeholder="Enter picture URL">

            </div>
        </div> 
      </section>    
    
      <section>
        <div class="container" align="center">
            <h3>Keep in touch!</h3>
            <div class="form-group">
                <label for="userEmail">Enter Email</label>
                <input type="email" name="email" placeholder="Enter email">
            </div>
        </div>
        <div class="checkbox" align="center">
            <label>
                <input name ="notify" type="checkbox"> Notify me when there are updates to this complaints
            </label>
        </div>
      </section>    

                <input type="hidden" name="lat" value="{% if lat %}{{lat}}{% endif %}" />
                <input type="hidden" name="lon" value="{% if lon %}{{lon}}{% endif %}" />

                <input type="hidden" name="cat1" value="cat1" />
                <input type="hidden" name="cat2" value="cat2" />


    <div class="centered" align="centered">
        <button type="submit">Submit</button>

        
    </div>
    </form>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; ReportIt 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='new/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='new/js/bootstrap.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='new/js/clean-blog.min.js') }}"></script>



</body>

</html>
