<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">


            <form method="post" action="{{ url_for('submit') }}">
              <div class="Center">
          
              <div class="form-group">
                <input type="text" name="email" placeholder="Enter email">
              </div>

              </div>
              <div class="form-group">
                <textarea type="text" rows="4" name="description" placeholder="Enter a description of the problem"></textarea>
              </div>
              

              <div class="form-group">
                <label name="picture">Upload a Picture of the Problem (Optional)</label>
                <input type="file" id="uploadPicture">
              </div>

              <div class="form-group">
                <label>
                  <input type="checkbox" name="notify"> Notify me when there are updates to this complaints
                </label>
                <br />
              </div>

                <input type="hidden" name="lat" value="{% if lat %}{{lat}}{% endif %}" />
                <input type="hidden" name="lon" value="{% if lon %}{{lon}}{% endif %}" />

                <input type="hidden" name="cat1" value="cat1" />
                <input type="hidden" name="cat2" value="cat2" />

                <button type="submit" class="btn btn-default">Submit</button>

                </div>
            </form>
<!--
notify, description, lat, lon, cat1, cat2, email

                  <label for="city">Please enter the city:</label>
                  <input type="text" name="city" /><br />

                  <label for="category1">Please enter category1:</label>
                  <input type="text" name="category1" /><br />


                  <label for="category2">Please enter category2:</label>
                  <input type="text" name="category2" /><br />

                  <label for="description">Please enter a description:</label>
                  <input type="text" name="description" /><br />





                  <input type="hidden" name="lat" value="{% if lat %}{{lat}}{% endif %}" />
                  <input type="hidden" name="lon" value="{% if lon %}{{lon}}{% endif %}" />




                  <input type="submit" />
                </form>

-->              
            </div>
        </div>
    </body>
</html>
 