<style type="text/css">
    #map {
        width: 100%;
        height: 400px;
    }
</style>
<div id="map"></div>

  <script>
    var map;

    var map = new GMaps({
      el: '#map',
      lat: 31.9333,
      lng: 35.9333,
      disableDefaultUI: true,
      zoom: 8
    });


    {#% if auto %#}

    GMaps.geolocate({
        success: function(position){
          var x = position.coords.latitude;
          var y = position.coords.longitude;
          map.setCenter(x, y);
          map.setZoom(10)
        },
        error: function(error){
          alert('Geolocation failed: '+error.message);
        },
        always: function(){
          // pass
        }
      });

    {#% endif %#}




    GMaps.on('rightclick', map.map, function(event) {
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();


            var template = '<a href="{{ url_for("submit") }}?lat=' + lat+'&lon='+lng+'">Submit a complaint!</a>';


            // var content = template.replace(/{{lat}}/g, lat).replace(/{{lng}}/g, lng);

            console.log(template);
            map.addMarker({
              lat: lat,
              lng: lng,
              title: 'Potential Submission',
              infoWindow: {
                content : template
              }            
            });


    });



  </script>