.brand{
    float:left;
    margin-left:3px; 
}

.navbar-inner{
    background-color:grey;
}
.navbar-inverse .navbar-brand{
    color:white;
}
.navbar-inverse .navbar-brand:hover{
    text-shadow: 2px 2px black;
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
}
.navbar-inverse .navbar-nav>li>a:hover{
    text-shadow: 2px 2px black;
}
footer p{
    text-align:center;
}